@import "tailwindcss";

:root {
  font-family: 'outfit', Avenir, "inter", "poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    /* Base darks */
  --color-dark-black: #1B1B1B;
  --color-dark-gray: #323232;

  /* Light base */
  --color-cream: #FFE7D0;

  /* Primary accent */
  --color-orange: #FC6E20;

  /* Additional accents */
  --color-teal: #1ABC9C;
  --color-coral: #FF7F7F;
  --color-yellow: #FFF176;
}

html {
  scroll-behavior: smooth;
}


/* In index.css or App.css */
@font-face {
  font-family: 'MyCustomFont'; /* The name you will use in your React components */
  src:  
       url('/fonts/bierika.otf') format('opentype'),
       url('/fonts/bierika.ttf') format('truetype'),
       url('/fonts/bierika250208-0354.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  /* Optional: add font-display to control font loading behavior */
  font-display: swap; 
}


a {
  font-weight: normal;
  text-decoration: inherit;
}

a.active{
  color: var(--color-orange);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}


